$circle-radius: 260px;
$circle-top: 20px;
$circle-left: 60px;
$circle-center-x: $circle-left + $circle-radius;
$circle-center-y: $circle-top + $circle-radius;

$pie-cnt: 16;
$pie-angle: 360deg / $pie-cnt;

$arrow-width: $circle-radius / 2;
$arrow-height: $arrow-width;
$arrow-img-url: url("http://localhost:3000/img/arrow.png");

$receive-cont-left: -20px;

$form-width: $circle-radius;
$form-height: $form-width;
$form-title-font-size: 34px;
$form-btn-font-size: 30px;